body {
    font-family: Arial, sans-serif;
    background-image: url('space.jpg');
    background-color: #00fbff;
    background: size 234px; ;
    margin: 0;
    padding: 200px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input {
    width: calc(100% - 100px);
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.edit-button {
    background: #ffbf00;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button {
    background: #dc3545;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
